.dmc[title*='[9'][title*='0]']:after,
.dmc[title*='[9'][title*='1]']:after,
.dmc[title*='[9'][title*='2]']:after,
.dmc[title*='[9'][title*='3]']:after,
.dmc[title*='[9'][title*='4]']:after,
.dmc[title*='[8'][title*='5]']:after,
.dmc[title*='[8'][title*='6]']:after,
.dmc[title*='[8'][title*='7]']:after {
    border-right: 1px solid red;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.dmc[title*='9;'][title*='4]']:after,
.dmc[title*='8;'][title*='7]']:after {
    border-top: 1px solid red;
}

.dmc[title*='9;'][title*='-4]']:after,
.dmc[title*='8;'][title*='-7]']:after {
    border-bottom: 1px solid red;
    border-top: 0;
}