.my_wl_line {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px 10px;
    min-width: 280px !important;
}

.pointer_link {
    color: #199BDC;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.flex_break {
    flex-basis: 100%;
    height: 0%;
}

/**/
.tooltip {
    display: none;
    position: absolute;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 3px;
    color: green;
    top: 20px;
    left: 20px;
}

.row_header:hover .tooltip {
    display: block;
}

.row_header {
    position: relative;
}

.tooltip tr:first-child {
    text-align: initial;
}

.tooltip th {
    font-weight: bold;
    color: #4f6b72;
    letter-spacing: 1px;
    background: #F5F5F5 -webkit-gradient(linear, left top, left 200%, from(#F6F8F9), to(#F7F7F7), color-stop(0.5, #E7E7E7), color-stop(0.5, #F9F9F9));
    background: #F5F5F5 -moz-linear-gradient(top, #F7FBFE, #E7E7E7 100%, #F9F9F9 100%, #F7F7F7);
    background: #F5F5F5 -o-linear-gradient(top, #F7FBFE, #E7E7E7 100%, #F9F9F9 100%, #F7F7F7);
    border-right: 1px solid #ddd;
}

.tooltip td {
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    text-align: center;
}

.tooltip table {
    background-color: white;
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #c0c0c0;
    -webkit-box-shadow: 0px 0px 5px #c0c0c0;
}

.my_blockh_elem_container {
    left: 10px;
    width: 40px;
    position: absolute;
    text-align: end;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.my_blockh_elem {
    cursor: pointer;
}

/*need add to fix erinome.logs*/
.dml {
    position: relative;
    height: 22px;
}

.dmc {
    position: absolute;
}

.dmc:not(.dmw):after {
    counter-reset: number calc(var(--startIndex) + var(--move));
    content: counter(number);
    position: absolute;
    background: #ffffff;
    min-width: 14px;
    left: 50%;
    transform: translateX(-50%);
    visibility: var(--move-visibility, hidden);
}