#MyGV_craft_del,
#MyGV_directions_del {
    font-size: 80%;
    position: absolute;
    top: 8px;
    right: 36px;
}

#MyGV_del {
    font-size: 80%;
    position: absolute;
    top: 9px;
    left: 261px;
}

/*Aquarium link + laboratory link*/
.center_link {
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#MyGV_ToNextHint,
#MyGV_PolygonTimeBeforeEndHint {
    position: absolute;
    right: 35px;
}

.sail #hk_health .p_bar:before {
    position: absolute;
    left: 33%;
    content: " ";
    height: 100%;
    width: 2px;
    background: #ccc;
}

#skill_badge2 {
    left: 25px;
    top: 2px;
    right: auto;
}

#skill_badge2:hover {
    color: #627D90;
}

/*Directions cross*/
.cross {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: xx-large;
    line-height: 100%;
}

.cross span {
    cursor: pointer;
    user-select: none;
}

.cross span:hover {
    color: green;
}

.cross .row {
    display: flex;
    justify-content: space-between;
}

.center_box {
    width: 12px;
}

#map .block_content {
    position: relative;
}